.absolute-footer {
  display: none;
}
.footer {
  p {
    margin-bottom: 0 !important;
    color: white !important;
    font-size: 14px;
  }
  a {
    color: white !important;
    font-size: 14px;
    &:hover {
      color: $primary-color !important;
    }
  }
  .social-icons {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    a {
      img {
        max-height: 25px;
        max-width: 25px;
        object-fit: scale-down !important;
      }
      &.youtube {
        img {
          max-width: none;
          width: auto;
        }
      }
      &.facebook {
        img {
          width: auto;
        }
      }
    }
  }
  .footer-copyright {
    border-top: 1px solid #fff;
    padding: 20px 0;
  }
}
