.header {
  .header-nav.header-nav-main {
    justify-content: center;
    &.nav-left {
      li {
        margin: 0;
        a {
          color: $secondary-color;
          text-transform: capitalize;
          font-size: 15px;
          margin: 0 15px;
        }
        &.active {
          a {
            color: $blue-dark;
          }
        }
      }
    }

    .menu-item {
      a {
        font-size: 16px;
        line-height: 28px;
        font-weight: bold; 
        color: black;
        padding-inline: 20px;

        i {
          margin-left: 18px;
          font-size: 24px;
          font-weight: bold !important;
        }
      }
      .sub-menu {
        li {
          a {
            font-size: 15px;
            font-weight: normal ; 
          }
        }
      }
    }
  }

  .top-divider {
    display: none;
  }
}
