.header {
  .header-nav.header-nav-main {
    justify-content: center;
    &.nav-left {
      li {
        margin: 0;
        a {
          color: $secondary-color;
          text-transform: capitalize;
          font-size: 15px;
          margin: 0 10px;
        }
        &.active {
          a {
            color: $blue-dark;
          }
        }
      }
    }
    .menu-item {
      a {
        font-size: 16px;
        line-height: 28px;
        font-weight: bold;
        color: black !important;
        padding-inline: 20px;

        i {
          margin-left: 18px;
          font-size: 24px;
          font-weight: bold !important;
        }
      }
      .sub-menu {
        left: 0 !important;
        min-width: 185px !important;
        padding: 10px 0 !important;
        li {
          &:hover {
            background-color: rgba(248, 248, 248, 0.9) !important;
            a {
              color: $primary-color !important;
            }
          }
          a {
            font-size: 15px;
            font-weight: normal;
            word-spacing: 10px;
            letter-spacing: 0.5px;
            margin: 0 10px !important;
          }
          &.current-menu-item {
            background-color: rgba(248, 248, 248, 0.9) !important;
            a {
              color: $primary-color !important;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .top-divider {
    display: none;
  }
}
.header-my {
  .header-nav.header-nav-main {
    .menu-item {
      .sub-menu {
        li {
          a {
            word-spacing: 3px !important;
          }

          &.current-menu-item {
            a {
              color: rgb(0, 0, 0) !important;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
