#content {
  .icon-box {
    &.icon-no-bg {
      .icon-box-img {
        .icon {
          background-color: transparent !important;
        }
      }
    }
    &.icon-box-white {
      padding: 15px 20px;
      border-radius: 30px;
      .icon {
        border-radius: 50% !important;
        background-color: white !important;
        position: relative;
        width: 60px;
        height: 60px;
        .icon-inner {
          img {
            position: absolute;
            width: 46px;
            padding-top: 0;
            top: 12%;
            left: 12%;
          }
        }
      }
      .icon-box-text{
        p{
          font-weight: 600;
          color: $title-color;
          font-size: 20px;
        }
      }
    }
    &.icon-box-primary {
      padding: 37px;
      .icon {
        border-radius: 50% !important;
        position: relative;
        width: 60px;
        height: 60px;
        .icon-inner {
          img {
            position: absolute;
            width: 46px;
            padding-top: 0;
            top: -20%;
            left: -5%;
          }
        }
      }
    }
    &.text-primary {
      h3 {
        color: $primary-color !important;
      }
      p {
        color: $text-body !important;
      }
    }
    &.fs-28 {
      h3 {
        font-size: 28px !important;
      }
    }
  }
}
