// Scroll To custom UI
body {
  // Menu button
  .scroll-bullets-toggle {
    position: fixed;
    top: 12%;
    left: 5px;
    transform: translateY(-50%);
    z-index: 1000;
    padding: 10px;
    background: $primary-color;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    opacity: 1;
    text-transform: none;

    &:hover {
      opacity: 0.9;
    }
    &.is-active {
      opacity: 0;
      pointer-events: none;
    }
    .down-icon {
      font-size: 20px;
      line-height: 0.5em;
    }
  }

  .scroll-to-bullets {
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
    &:not(.is-hidden) {
      opacity: 1;
      pointer-events: auto;
    }
  }

  // Menu content
  .shortcut-menu {
    position: fixed;
    top: 30%;
    left: 5px;
    right: auto;
    transform: translateY(-50%);
    transition: opacity 0.25s ease;
    display: flex !important;
    flex-direction: column;
    z-index: 999;
    background-color: #f5f5f5;
    border-radius: 8px;

    a {
      width: auto;
      height: auto;
      padding: 10px 14px;
      background: #fff;
      border-radius: 6px;
      text-decoration: none;
      color: #222 !important;
      font-size: 14px !important;
      line-height: 1.2;
      transition: all 0.2s ease;
      white-space: nowrap;
      font-weight: 500;
      margin: 8px;
      opacity: 0.9;

      &::before {
        content: attr(data-title);
      }
      strong {
        display: none;
      }
      &:hover {
        background: $primary-color;
        color: #fff !important;
      }
    }

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  @include tablet {
    .scroll-bullets-toggle {
      top: 30%;
      left: 20px;
      padding: 10px 15px;
      font-size: 16px;
      .down-icon {
        font-size: 24px;
      }
    }
    .shortcut-menu {
      top: 40%;
      left: 15px;
    }
  }
}
