//Box Icon
.icon-box {
  &.icon-no-bg {
    .icon-box-img {
      .icon {
        background-color: transparent !important;
      }
    }
  }

  &.bg-primary {
    .icon-box-img {
      .icon {
        background-color: $primary-color;
      }
    }
  }

  &.bg-secondary {
    .icon-box-img {
      .icon {
        background-color: $secondary-color;
      }
    }
  }
  .icon-box-text {
    h3 {
      color: $title-color !important;
    }
  }
}
//Tab
.tabbed-content {
  .nav {
    justify-content: space-between !important;
    border-bottom: 1px solid $border-color !important;
    li.tab {
      padding: 20px 40px;
      margin: 0;
      a {
        font-size: 22px !important;
        color: $text-body !important;
        font-weight: 600 !important;
        line-height: 1.4em !important;
        padding: 0;
        &::before {
          background-color: $secondary-color !important;
        }
      }
      &:hover {
        a {
          color: $secondary-color !important;
        }
      }
      &.active {
        a {
          color: $secondary-color !important;
        }
      }
    }
  }
}

.bg-gray {
  background-color: #ededed !important;
}

.tabbed-content .nav {
  display: none;
}

.justify-content-inner-between {
  .col-inner {
    justify-content: space-between !important;
    height: 100%;
  }
}

.rounded-60-top {
  border-top-left-radius: 60px !important;
  border-top-right-radius: 60px !important;
}

.rounded-60-bottom {
  border-bottom-left-radius: 60px !important;
  border-bottom-right-radius: 60px !important;
}

.mt-negative-45 {
  margin-bottom: -45px !important;
  z-index: 10 !important;
}

.m-negative-45 {
  margin: -45px 0 !important;
  z-index: 10 !important;
}

.text-mb-5 {
  margin-bottom: 5px;
}
