/* Font face for web template */
// Montserrat
@include font-face(
  "Montserrat",
  "#{$assets_path}fonts/Montserrat/Montserrat-Regular",
  400
);
@include font-face(
  "Montserrat",
  "#{$assets_path}fonts/Montserrat/Montserrat-Light",
  300
);
@include font-face(
  "Montserrat",
  "#{$assets_path}fonts/Montserrat/Montserrat-Medium",
  500
);
@include font-face(
  "Montserrat",
  "#{$assets_path}fonts/Montserrat/Montserrat-Bold",
  900
);

//PlusJakartaSans
@include font-face(
  "PlusJakartaSans",
  "#{$assets_path}fonts/PlusJakartaSans/PlusJakartaSans-Regular",
  400
);
@include font-face(
  "PlusJakartaSans",
  "#{$assets_path}fonts/PlusJakartaSans/PlusJakartaSans-Light",
  300
);
@include font-face(
  "PlusJakartaSans",
  "#{$assets_path}fonts/PlusJakartaSans/PlusJakartaSans-Medium",
  500
);
@include font-face(
  "PlusJakartaSans",
  "#{$assets_path}fonts/PlusJakartaSans/PlusJakartaSans-Bold",
  900
);

// Source: https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap
/* Inter latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("#{$assets_path}fonts/Inter/inter-latin.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Inter latin italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("#{$assets_path}fonts/Inter/inter-latin-italic.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

%inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

%inter-important {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: $main-font;
}
#content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $second-font;
    color: $secondary-color;
  }
  p {
    font-family: $main-font;
    font-size: 16px;
    color: $text-body;
  }
  a {
    font-family: $main-font;
    color: $secondary-color;
    font-size: 16px;
  }
  h1 {
    font-size: 28px !important;
    line-height: 1.2em;

    @include tablet {
      font-size: 38px !important;
    }
    @include desktop {
      font-size: 48px !important;
    }
    span {
      font-size: 28px !important;
      font-family: $second-font !important;
      @include tablet {
        font-size: 38px !important;
      }
      @include desktop {
        font-size: 48px !important;
      }
    }
  }

  h2 {
    font-size: 24px !important;
    line-height: 1.2em;

    @include tablet {
      font-size: 32px !important;
    }
    @include desktop {
      font-size: 40px !important;
    }
    span {
      font-size: 24px !important;
      font-family: $second-font !important;
      @include tablet {
        font-size: 32px !important;
      }
      @include desktop {
        font-size: 40px !important;
      }
    }
  }

  h3 {
    font-size: 18px !important;
    @include desktop {
      font-size: 22px !important;
    } 
  }
}
