/* Font face for web template */
// Poppins
// src: https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Poppins/pxiEyp8kv8JHgFVrJJfecg.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Poppins/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Poppins/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Poppins/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: $main-font;
}
#content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $main-font;
    color: $secondary-color;
  }
  p {
    font-family: $main-font;
    font-size: 16px;
    color: $text-body;
  }
  a {
    font-family: $main-font;
    color: $secondary-color;
    font-size: 16px;
  }
  h1 {
    font-size: 28px !important;
    line-height: 1.2em;
    font-weight: 600 !important;

    @include tablet {
      font-size: 38px !important;
    }
    @include desktop {
      font-size: 48px !important;
    }
    span {
      font-size: 28px !important;
      font-family: $main-font !important;
      @include tablet {
        font-size: 38px !important;
      }
      @include desktop {
        font-size: 48px !important;
      }
    }
  }

  h2 {
    font-size: 24px !important;
    line-height: 1.2em;
    font-weight: 600 !important;

    @include tablet {
      font-size: 32px !important;
    }
    @include desktop {
      font-size: 40px !important;
    }
    span {
      font-size: 24px !important;
      font-family: $main-font !important;
      @include tablet {
        font-size: 32px !important;
      }
      @include desktop {
        font-size: 40px !important;
      }
    }
  }

  h3 {
    font-size: 18px !important;
    font-weight: 600 !important;
    @include desktop {
      font-size: 22px !important;
    } 
  }
}
