.accordion.bluetap-faq-list {
  .accordion-item {
    .accordion-title {
      color: $blue-dark !important;
      border-top: none !important;
      border-bottom: 1px solid $blue-dark !important;
      padding: 20px !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .toggle {
        right: 0 !important;
        left: auto;
        top: 50% !important;
        transform: translateY(-50%) !important;
      }
      &.active {
        border-bottom: none !important;
      }
    }
    .accordion-inner {
      border-bottom: 1px solid $blue-dark !important;
      padding: 10px 30px;
    }
  }
  .accordion-item:last-child {
    .accordion-title,
    .accordion-inner {
      border-bottom: none !important;
    }
  }
}
