#content {
  .program-steps {
    .step-item {
      .step-title {
        width: fit-content;
        background-color: #0a22aa;
        padding: 6px 20px;
        border-radius: 30px;
        p {
          margin: 0;
          color: #fff !important;
          background-color: #0a22aa !important;
        }
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        top: 20px;
        left: 85px;
        background: #0a22aa;
      }

      ul {
        margin-bottom: 0 !important;
      }

      @include tablet {
        &:last-child:before {
          width: 0;
        }
      }
    }
  }

  .merchant-carousel-cell {
    .carousel-cell-col {
      .col-inner {
        position: relative;
        height: 100%;
        .carousel-cell-img {
          position: absolute;
          top: -110px;
          left: 38%;
          object-fit: cover;
        }
        .row {
          height: 100%;
          .carousel-cell-content {
            padding-bottom: 0 !important;
            .col-inner {
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              gap: 40px;
            }
            .content {
              padding: 0;
              background-image: unset;
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
            }
          }
        }
      }
      @include tablet {
        .col-inner {
          .carousel-cell-img {
            top: -110px;
            left: 32%;
          }

          .row {
            .carousel-cell-content {
              .col-inner {
                gap: 0;
              }
              .content {
                padding: 65px 0;
                background-image: url("https://www.epos.com/wp-content/uploads/2026/02/0bc4aec8-assets-sec-07-icon-04_109n09e09n08w000008028-1.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
              }
            }
          }
        }
      }
      @include desktop {
        .col-inner {
          .carousel-cell-img {
            top: -110px;
          }
        }
      }
    }
  }
}
