.break-line-light-gray {
  background-color: $light-gray !important;
}
.break-line-dark-gray {
  background-color: $text-body !important;
}
.banner-my-site {
  @include tablet {
    .bluetap-banner-img {
      .img-inner {
        margin-left: -10%;
      }
    }
  }
}

.bluetab-product-price {
  .sale-price {
    text-decoration: line-through;
    margin-right: 10px;
    color: $text-body;
  }
  .currencySymbol {
    display: inline-block;
    font-size: 0.75em;
    vertical-align: top;
  }
}
