.rate-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 16px;
  box-shadow: $shadow;
  border-radius: 30px;
  padding: 0 20px;
  @include desktop {
    font-size: 22px;
  }

  thead {
    th {
      background-color: #002366;
      color: white;
      padding: 13px;
      font-weight: 600;
      text-align: center;
      border-right: 1px solid #ccc;
      font-size: 14px;

      &:first-child {
        border-radius: 30px 0 0 0;
      }
      &:last-child {
        border-radius: 0 30px 0 0;
        border-right: none;
      }
      @include desktop {
        padding: 25px;
        font-size: 18px;
      }
    }
  }

  tbody {
    td {
      padding: 15px;
      border-top: 1px solid #ddd;
      color: #333;
      text-align: center;
      border-right: 1px solid #ccc;
      @include desktop {
        padding: 25px;
      }
    }
    tr:nth-child(1) {
      background: #d3d1d1;
    }

    tr:nth-child(2) {
      background-color: #949494;
      td {
        &:first-child {
          border-radius: 0 0 0 30px;
        }
        &:last-child {
          border-radius: 0 0 30px 0;
          border-right: none;
        }
      }
    }
  }
}
