// Icon display screen
.cart-item {
  position: fixed !important;
  width: 50px;
  height: 50px;
  bottom: 133px;
  z-index: 9999;
  height: 50px;
  right: 24px;
  transition: all 0.5s;

  @include tablet {
    right: 30px;
  }
  @include desktop {
    right: 24px;
  }
  .image-icon {
    width: auto !important;
    height: auto;
    &::after {
      right: 0px !important;
    }
  }
  .image-icon img {
    max-width: 50px;
  }
  &:hover {
    transform: translateY(-10%);
  }
}
