
.section-custom-bg{
	position: relative;
  height: 420px;
  overflow: hidden;
  .col-img-overplay {
  position: absolute !important;
  right: -10%;
}
}

// Slider
.featured-on-slider {
  .slick-slide {
    margin: 0 15px;
    .logo-center {
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
    }
  }
}

.fl-height {
  .col-inner {
    height: 100% !important;
  }
}
.middel {
  .col-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}