// Border
.rounded {
  border-radius: 30px !important;
}

.rounded-8 {
  border-radius: 8px !important;
}

.rounded-14 {
  border-radius: 14px !important;
}

.rounded-45 {
  border-radius: 45px !important;
  img {
    border-radius: 45px !important;
  }
}
.border {
  &.border-primary {
    border: 1px solid $primary-color !important;
  }
  &.border-secondary {
    border: 1px solid $secondary-color !important;
  }
  &.border-orange {
    border: 1px solid $orange !important;
  }
}
//
//text-color
.text-primary {
  color: $primary-color !important;
  p {
    color: $primary-color !important;
  }
}

.text-secondary {
  color: $secondary-color !important;
  p {
    color: $secondary-color !important;
  }
}
.text-white {
  color: white !important;
  p {
    color: white !important;
  }
  h2 {
    color: white !important;
  }
}

.text-blue-dark {
  color: $blue-dark !important;
  p {
    color: $blue-dark !important;
  }
}

.text-white {
  color: white !important;
  h2 {
    color: white !important;
  }
  p {
    color: white !important;
  }
}
//
//Font-weight
.fw-bold {
  font-weight: bold !important;
  p {
    font-weight: bold !important;
  }
}
//
// Background
.bg-primary {
  background-color: $primary-color !important;
  p {
    background-color: $primary-color !important;
  }
}
.bg-primary-light {
  --tw-gradient-from: #f0fdf4 !important;
  --tw-gradient-to: #eff6ff !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}
.bg-yelow-light {
  --tw-gradient-from: #fff7ed !important;
  --tw-gradient-to: #fef2f2 !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.bg-secondary {
  background-color: $secondary-color !important;
  p {
    background-color: $secondary-color !important;
  }
}
