//Font
$main-font: "Montserrat", sans-serif !important;
$second-font: "PlusJakartaSans", sans-serif !important;

//Theme Color
$title-color: #001a32 !default;
$text-body: #717171 !default;
$primary-color: #2eaf7d !default;
$secondary-color: #102870 !default;
$green: #298c65 !default;
$yelow: #ffc402 !default;
$blue: #1b459b !default;
$blue-light: #40538d !default;
$blue-dark: #0a142f !default;
$border-color: rgba(14, 11, 61, 0.078) !default;
$footer-color: #090727 !default;

//Shadow
$shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
