@import "mixins";
@import "variables";
@import "custom";
@import "default";
@import "whatsapp";
@import "backtotop";
@import "_geoip-popup";
@import "cart-item-icon";
@import "promo-popup";

//Fonts
@import "fonts/fonts";

//Conponents
@import "components/sections";
@import "components/buttons";
@import "components/header";
@import "components/footer";
@import "components/spacing";
@import "components/icon_box";
@import "components/scrollToBullets";

// slider
@import "../lib/slick/slick-theme.css";
@import "../lib/slick/slick.css";

//Page
@import "page/my-home";
@import "page/my-policy";
@import "page/my-about";
@import "page/my-payment-terminal";
@import "page/my-all-in-one";
@import "page/my-video-hub";
@import "page/my-careers";
@import "page/my-bluetap";
@import "page/my-career-workable";
@import "page/my-shop";
@import "page/epos-checkout";
@import "page/epos-bluetap-onboarding";
@import "page/epos-links";
@import "page/epos-bluetap-faq";
@import "page/epos-partner-program";


//Epos 360
@import "page/epos360";

//Epos Awards
@import "./gsap";
